#menu {
    background-image: url(../../../public/images/main_bg.jpg);
}

header {
    background-size: cover;
    height: 100vh;
    
    .banner {
        filter: brightness(40%);
        width: cover;
        position: relative;
    }
    nav {
        position: absolute;
    }
    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
}


#menu {
    background-image: url(../../../public/images/main_bg.jpg);
    #menuCenter {
        background-color: white;
    }
}

#menu {
    padding-top: 3em;
}

.menuTop {
    display: flex;
    justify-content: space-between;
    h2 {
        margin-top: 1em;
        text-align: center;
    }
    .imageCenter { margin-top: 3em;

    }
}

#textOurMenu {
    margin-top: 2em;
    width: 50%;
    text-align: center;
}

.title {
    margin-top: 4em;
    text-align: center;
}

/* ourChef */

#ourChef {
    background-color: black;
    height: 300px;
    #chef {
        display: flex;
        justify-content: space-between;
        background: none;
    }
}


