@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Courgette', cursive;
    h2 span{
        color: #dd003f;
    }
    h2 .colorW {
        color: white;
    }
    p, a, h3, h5, h6 {
        font-family: Arial, Helvetica, sans-serif;
    }
}


#menu {
    background-image: url(../../../public/images/main_bg.jpg);
}

header {
    background-size: cover;
    height: 100vh;
    
    
    .banner {
        filter: brightness(40%);
        width: cover;
        position: relative;
    }
    nav {
        position: absolute;
    }
    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    .sp1 {
        font-size: 3em;
    }
    .sp2 {
        font-size: 3em;
        color: #dd003f;
    }
    .sp3 {
        font-size: 2em;
    }
    .buttonsHeader {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .buttonsHeader button {
          padding: 0.6em 4em;
          margin:1em;
          text-transform: uppercase;
    }
    
    #brand {
        margin-right: 0;
    }

    #brand:hover {
        background-color: transparent;
    }

    nav a:hover {
        background-color: #dd003f;
        color: white;
    }

   
    #nav .navbar-brand a:hover {
        background-color: none;
    }

    #nav a {
        padding: 1em;
    }

    #nav {
        position: fixed;
        top: 0;
        z-index: 4;
    }

    .carousel-inner h1 {
        padding-top: 4em;
    }
    #carouselExampleIndicators {
        height: 100vh;
    }
    
    .carousel-indicators li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: 1px solid black;
        box-shadow: 5px 10px;
    }
  
}

.deco {
    background-image: url(../../../public/images/bottom_decoration_img.png);
    background-color: black;
    height: 10px; 
}
/* menu */


#menu {
    background-image: url(../../../public/images/main_bg.jpg);
    #menuCenter {
        background-color: white;
    }
}

#v-pills-home-tab, #v-pills-profile-tab, #v-pills-messages-tab, #v-pills-settings-tab {
    padding: 0em;
    border-bottom: 1px solid lightgrey;
    
    p{
        font-size: 1.5em;
        text-align: center
    }
    i {
        text-decoration: none;
        color: lightgrey;
        font-size: 3em;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px; 
    }
   
}

#v-pills-home-tab:focus {
    i:hover {
        color: #dd003f;
    }
    border-right: #dd003f 4px solid;
} 

#v-pills-profile-tab:hover {
    i:hover {
        color: #dd003f;
    }
    border-right: #dd003f 4px solid;
}

#v-pills-messages-tab:hover {
    i:hover {
        color: #dd003f;
    }
    border-right: #dd003f 4px solid;

} 

#v-pills-settings-tab:hover {
    i:hover {
        color: #dd003f;
    }
    border-right: #dd003f 4px solid;
   
}

#menu {
    padding-top: 3em;
}

#menuCards {
    display: flex;
    align-items: center;
    border-bottom: 1px lightgrey dashed;
}

#menuCards img {
    width: 30%;
    height: 80%;
    border-radius: 50%;
    border: 5px lightgrey solid;
}

.menuTop {
    display: flex;
    justify-content: space-between;
    h2 {
        margin-top: 1em;
        text-align: center;
    }
    .imageCenter { margin-top: 3em;

    }
}

#textOurMenu {
    margin-top: 2em;
    width: 50%;
    text-align: center;
}

.title {
    margin-top: 4em;
    text-align: center;
}

/* ourChef */

#ourChef {
    background-color: black;
    height: 1000vh;
    #chef {
        display: flex;
        justify-content: space-between;
        background: none;
        img {
            border-bottom: 1px solid white;
        }
        p {
            text-align: center;
            color: white;
        }
    }
}

/* OUR TABLE */

.form {
    background-image: url("../../../public/images/book_table_bg.jpg");
    background-size: cover;
    height: 70vh;
    width: 90vh;
    border-radius: 3%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cardsTable {
    display: flex;
    justify-content: center;
    .images {
        width: 20em;
        height: 10em;
    }
}

.redCard { 
    background-color: #dc0041;
    height: 20px;
    width: 80%;
    margin: -5%;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 25px;
        color: white;
    }
}
  
.imgCardBlog {
    border-radius: 15px;
    border: solid 5px lightgrey;
    width: 90%;
    height: 50%;
}

.card {
    align-items: center;
}
    
.card-body {
     margin-top: 20px;
     padding: 1em 4em;
}
   

/* CLIENT */


.client {
    background-image: url(../../../public/images/testimonials_background.jpg);
    width: cover;
    height: 60vh;
    /* background-attachment: fixed;
    background-repeat: no-repeat; */
}

.titleClient {
    padding-top: 4em;
    text-align: center;
    padding-bottom: 2em;
}
.testimonial1 {
    border-radius: 50%;
    width: 150px;
    border: 3px solid white;
}

/* CONTACT */

.ourContact {
    background-image: url(../../../public/images/main_bg.jpg);
    padding-bottom: 2em;
}

#ourContactCard {
    i, p {
        display: flex;
        justify-content: center;
       text-align: center; 
       padding: 0.5em;
    }
    i {
        font-size: 2em;
    }
    p {
        border-bottom: 1px solid white;
    }
}

/* footer */

.deco2 {
    background-image: url(../../../public/images/footer_bottom_decoration_img.png);
    background-color: black;
    height: 10px; 
}

.footer {
    padding-top: 2em;
    background-image: url(../../../public/images/team_background.jpg);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    #imageFooter img{
        width: 80px;
        padding: 0.4em;
    }

    .iconsFooter  {
        padding-left: 0;
    }
    .iconsFooter li{
        display: inline-block;
        padding: 0.4em 0.4em 0em 0.4em;
        font-size: 2em;
    }

    .iconsFooter li:hover {
        color: #dd003f;
    }
}

.footer2 {
    height: 90px;
    background-color: #dd003f;
}

